@import url('https://fonts.googleapis.com/css?family=Quicksand|Ubuntu&display=swap');

body {font-size: 100%}

section {width: 100%;color:#07192f;font-family:'Ubuntu',sans-serif}
article {margin: 5% 0}
p {font-size: 100%}

#avatar {max-width:15%;float:left;margin-top:-1em}
#about {color:#ff6b6b;font-family:'Ubuntu',sans-serif;line-height:1.6;display:flex;justify-content:center}
#btnNav {color:#07192f;border-color:#07192f;position:absolute;right:3%}
#service {max-width:90%;display:flex;flex-direction:row;margin: 2em 0 0.5em 2em;text-align:center}
#service div {margin:0 2em}
#service p {color:#222f3e;font-weight:600}

.chart {
    position: relative;
    justify-content: center;
    height: 170px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-weight: 700px;
    font-size: 1.25em;
    line-height: 150px;
}
.percent {display: none;}
.progress {width: 11.2em;float: left}
.progress p {text-align:center;top: 0}
.progress canvas {position: absolute;left: 0;top: 0}
.progressBar {display:flex;justify-content:center;margin-top: 10%}
.uk-text-lead {overflow:auto;text-align:justify;margin:1% 0 13%;font-size:150%;font-weight: normal}
.uk-text-lead a:hover {text-decoration: none;cursor: auto;}
.uk-text-lead q {font-style:normal;margin-top:-4%}
.uk-grid-divider {text-align: center}
.uk-grid-divider p {margin: 0 5% 0 10%;font-size:1.25em}

