<button id="btnNav" class=" uk-button-tiny uk-button-default uk-responsive-height uk-position-fixed hvr-round-corners" type="button" uk-toggle="target: #offcanvas-flip-nav-primary" style="outline: none">
    <span uk-icon="icon: menu; ratio: 2"></span>
</button>
<div id="offcanvas-flip-nav-primary" uk-offcanvas="flip:true;mode:reveal;overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
            <li>
                <a href="/">
                    <span class="uk-margin-small-right" uk-icon="icon: home; ratio: 2"></span>
                    &emsp;&emsp;&emsp;Home
                </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="/about">
                    <span class="uk-margin-small-right" uk-icon="icon: info; ratio: 2"></span>
                    &emsp;&emsp;&emsp;About
                </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="/contact">
                    <span class="uk-margin-small-right" uk-icon="icon: mail; ratio: 2"></span>
                    &emsp;&emsp;&emsp;Contact
                </a>
            </li>
            <li class="uk-nav-divider"></li>
            <li>
                <a href="https://drive.google.com/drive/u/0/folders/1_WP6rkVCd1peKvbWb_gD36tWkCxBzSAp">
                    <span class="uk-margin-small-right" uk-icon="icon: file-text; ratio: 2"></span>
                    &emsp;&emsp;&emsp;Resume
                </a>
            </li>
            <li class="uk-nav-divider"></li>
        </ul>        
    </div>
</div>