{% extends 'base.html' %}
{% load static %}

{% block CSS %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
{% endblock CSS %}

{% block Header %}
<header id="about" class="uk-padding-large">
    {% include 'snippets/nav.html' %}
    <div id="service" class="border">
        <div class="border">
            <span uk-icon="icon: paint-bucket; ratio: 3"></span>
            <p>Disesuaikan dengan kebutuhan</p>
        </div>
        <div class="border">
            <span uk-icon="icon: cog; ratio: 3"></span>
            <p>Dinamis terlihat lebih hidup</p>
        </div>
        <div class="border">
            <span uk-icon="icon: heart; ratio: 3"></span>
            <p>Dibangun dengan cinta</p>
        </div>
    </div>
</header>
{% endblock Header %}


{% block Section %}
<section id="{{id}}" class="uk-section uk-padding">
    {% block Article %}
    <article class="uk-article" uk-scrollspy="cls: uk-animation-fade; target: .fade; delay: 500">
        <img id="avatar" class="hvr-shrink" src="{% static 'img/ridwan.svg' %}" alt="avatar"/>
        <p class="uk-text-lead fade">
            <q>
                Halo, saya Ridwan. Senang bertemu dengan anda. saya junior web developer. saya mempunyai pasion serius untuk UI efek, membuat dan menciptakan pengalaman pengguna yang intuitif dan dinamis. <a href="/contact/">Mari kita buat sesuatu yang spesial</a>
            </q>
        </p>

        <div class="uk-grid-divider uk-child-width-expand@s" uk-scrollspy="cls: uk-animation-slide-bottom; target: > div; delay: 300; repeat: true" uk-grid>
            <div>
                <h1 class="uk-article-title hvr-float-shadow">01. <strong>Research</strong></h1>
                <p class="hvr-grow" style="text-align: justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore, blanditiis tempora? Voluptatum sint porro a optio repellendus nulla tempora magni, dicta
                    doloremque deleniti harum eum rerum eaque, error quos quo.
                </p>
            </div>
            <div uk-scrollspy-class="uk-animation-slide-top">
                <h1 class="uk-article-title hvr-float-shadow">02. <strong>Design</strong></h1>
                <p class="hvr-grow" style="text-align: justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Dolore, blanditiis tempora? Voluptatum sint porro a optio repellendus nulla tempora magni, dicta
                    doloremque deleniti harum eum rerum eaque, error quos quo.
                </p>
            </div>
            <div>
                <h1 class="uk-article-title hvr-float-shadow">03. <strong>Develop</strong></h1>
                <p class="hvr-grow" style="text-align: justify">
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Sint corrupti quas delectus in aliquid minima, facere odit fuga earum doloribus odio, sunt
                    iure sequi tempore voluptatibus quos quam perferendis voluptatum.
                </p>
            </div>
        </div>

        <div class="progressBar">
            <div id="html" class="progress">
                <div title="HTML Skill" class="chart" data-percent="80">
                    <span class="percent"></span>
                </div>
                <p id="skillName">HTML</p>
            </div>
            <div id="css" class="progress">
                <div title="CSS Skill" class="chart" data-percent="50">
                    <span class="percent"></span>
                </div>
                <p id="skillName">CSS</p>
            </div>
            <div id="javascript" class="progress">
                <div title="JavaScript Skill" class="chart" data-percent="60">
                    <span class="percent"></span>
                </div>
                <p id="skillName">JavaScript</p>
            </div>
            <div id="python" class="progress">
                <div title="Python Skill" class="chart" data-percent="60">
                    <span class="percent"></span>
                </div>
                <p id="skillName">Python</p>
            </div>
            <div id="react" class="progress">
                <div title="React Skill" class="chart" data-percent="50">
                    <span class="percent"></span>
                </div>
                <p id="skillName">ReactJS</p>
            </div>
            <div id="django" class="progress">
                <div title="Django Skill" class="chart" data-percent="60">
                    <span class="percent"></span>
                </div>
                <p id="skillName">Django</p>
            </div>
            <div id="ui design" class="progress">
                <div title="UI Design Skill" class="chart" data-percent="40">
                    <span class="percent"></span>
                </div>
                <p id="skillName">UI Design</p>
            </div>
        </div>
    </article>
    {% endblock Article %}
</section>
{% endblock Section %}

{% block Script %}
<script src="{% static 'vendor/vanta/vanta.clouds.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'js/about.js' %}"></script>
{% endblock Script %}