{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/css/uikit.min.css"/>
        <link rel="stylesheet" href="{% static 'vendor/hover/hover-min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
        {% block CSS %}
            
        {% endblock CSS %}
        
        {% block Title %}
        <title>rdwnarfn</title>
        {% endblock Title %}

    </head>
    <body>
        {% block Header %}
        <h1>Hello, world!</h1>
        {% endblock Header %}
        
        {% block Section %}
        
            {% block Article %}
                
            {% endblock Article %}
        
        {% endblock Section %}
        
        {% block Footer %}
            
        {% endblock Footer %}
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js"></script>
        <script src="{% static 'js/base.js' %}"></script>
        <script  src="{% static 'vendor/vanta/three.r92.min.js' %}"></script>
        {% block Script %}
        
        {% endblock Script %}
    </body>
</html>