{% extends 'base.html' %}
{% load static %}

{% block Header %}
    <header id="header" class="uk-padding-large">
        {% include 'snippets/nav.html' %}

        <div style="display: flex; justify-content: center; align-self: center">
            <h2>Contact</h2>
        </div>
    </header>
{% endblock Header %}
    


{% block Section %}
    <section class="uk-section uk-padding">
        <div class="uk-child-width-1-2" uk-grid>
            <div id="sosmed">
                <div style="display: flex; flex-direction: column; justify-content: center; height: 20em;">
                    <div class="uk-child-width-1-2@s" style="width: 20em; align-self: center; align-items: center;" uk-grid>
                        <div style="width: 6em">
                            <span uk-icon="icon: mail; ratio: 2"></span>
                        </div>
                        <div style="width: 13em">r.arifin123@gmail.com</div>
                    </div>

                    <div class="uk-child-width-1-2@s" style="width: 20em; align-self: center; align-items: center;" uk-grid>
                        <div style="width: 6em">
                            <span uk-icon="icon: whatsapp; ratio: 2"></span>
                        </div>
                        <div style="width: 13em">+62 857 2284 5211</div>
                    </div>

                    <div class="uk-child-width-1-2@s" style="width: 20em; align-self: center; align-items: center" uk-grid>
                        <div style="width: 6em">
                            <span uk-icon="icon: github; ratio: 2"></span>
                        </div>
                        <div style="width: 13em">github.com/sukitt</div>
                    </div>
                </div>
            </div>
            <div id="form" class="uk-width-large">
                <form action="https://formspree.io/r.arifin123@gmail.com" method="post">
                    <label for="nama">Nama</label>
                    <div class="uk-margin">
                        <input class="uk-input" type="text" name="nama" />
                    </div>
                    
                    <label for="email">Email *</label>
                    <div class="uk-margin">
                        <input class="uk-input" type="email" name="email" required/>
                    </div>

                    <label for="tel">Hp</label>
                    <div class="uk-margin">
                        <input type="tel" class="uk-input" />
                    </div>
                    
                    <label for="pesan">Pesan</label>
                    <div class="uk-margin">
                        <textarea name="pesan" id="" rows="5" class="uk-textarea"></textarea>
                    </div>
                    <button type="submit" class="uk-button-default" style="margin-left: 13em; outline-style: none">
                        <img src="{% static 'img/icons8-telegram-app-48.png' %}"/>
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock Section %}


{% block Footer %}
<hr class="uk-divider-icon"/>
    <footer style="margin: 2em">
        &#169; 2019 rdw.arf <div style="display: inline-flex; border: 2px solid; width: 85%; margin-left: 1em"></div>
    </footer>
{% endblock Footer %}