{% extends 'base.html' %}
{% load static %}

{% block Header %}
    <header id="root" class="uk-panel uk-padding uk-background-cover uk-light" uk-height-viewport>
        <a class="uk-logo" href="/">
            <img id="logo" class="hvr-shrink" src="{% static 'img/ridwan.svg' %}" alt="logo/avatar" />
        </a>

        {% include 'snippets/nav.html' %}
        <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <h1>Hallo, Saya <p id="nama">Ridwan Arifin.</p></h1>
            <h1>Junior Web Developer.</h1>
        </div>
        <a href="/about" id="btnAnimasi" class="uk-button-tiny uk-button-default hvr-forward animsition-link" uk-icon="icon: chevron-right; ratio: 3">
        </a>
    </header>
{% endblock Header %}

{% block Script %}
    <script src="{% static 'vendor/vanta/vanta.birds.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock Script %}
    