@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yatra+One&display=swap');

body {font-size: 100%}
p {font-size: 1em}
h1 {margin: 2%;/* font-family: 'Concert One', cursive; */font-family: 'Yatra One', cursive;/* font-size: 3.125em; */}
h2 {font-family: 'Yatra One', cursive;}
#nama {display: inline;color: rgba(232, 67, 147,1.0)}
#btnAnimasi {position: absolute; margin-left: 45%;top: 70%; bottom: 11%;border: none;}
#btnNav {position: absolute;right:3%}
#about {color: #07192f;line-height: 100px;font-family: 'Ubuntu', sans-serif;font-size: 1.25em}
#logo {max-width: 15%;margin: auto;}